{% extends 'base.html' %}

{% block content %}
<div class="container ng-scope" data-ng-controller="uploadPlanoContasController">
 <form name="upload_plano_contas" class="form-horizontal ng-dirty ng-valid-parse ng-pristine ng-invalid ng-invalid-required" autocomplete="off" data-ng-submit="uploadFile()">
        <h2>Importar Arquivos do Plano de Contas para Apuração Mensal do ISSQN</h2>
                <hr style="border-top: 1px solid #ccc;">
                <br>
                <div class="form-group">
                    <label for="fileType">Selecione o tipo da declaração:</label>
                    <select class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required" id="fileType" name="fileType"
                            oninvalid="BlankField(this);" data-ng-model="fileType" data-ng-options="value.id as value.name for value in fileTypes"
                            style="width:150px;" required>
                    <option value class selected="selected">Selecionar</option>
                    <option label="Normal" value="string:N">Normal</option>
                    <option label="Retificada" value="string:R">Retificada</option>
                    </select>
                </div>
                <div class="form-group ng-hide" data-ng-show="fileType == 'R'">
                    <label for="protocol">Informe o protocolo da declaração:</label>
                    <input type="text" class="form-control ng-pristine ng-untouched ng-valid ng-empty" id="protocol"
                    name="protocol" oninvalid="BlankField(this);" data-ng-model="protocol" style="width: 160px;">
                </div>
                <hr style="border-top: 1px solid #ccc;">
                <div data-ng-show="currentuser.idempresa != 3" class="ng-hide">
                    <div class="form-group">
                        <label for="planocontas1">Selecione o arquivo do plano de contas 1:</label>
                        <input type="file" id="planocontas1" name="planocontas1" data-file-model="planocontas1">
                        <br>
                    </div>
                </div>
                <div data-ng-show="currentuser.idempresa == 3">
                    <div class="form-group">
                        <label for="planocontas1">
                            Selecione o arquivo do plano de contas: PAC 00 - CC PRODUTORES RURAIS LIVRE ADMISSÃO TRIÂNGULO LTDA
                        </label>
                        <input type="file" id="planocontas1" name="planocontas1" data-file-model="planocontas1">
                        <br>
                    </div>
                    <div class="form-group">
                        <label for="planocontas2">Selecione o arquivo do plano de contas: PAC 03 - PA - JOÃO NAVES DE ÁVILA</label>
                        <input type="file" id="planocontas2" name="planocontas2" data-file-model="planocontas2">
                        <br>
                    </div>
                    <div class="form-group">
                        <label for="planocontas3">Selecione o arquivo do plano de contas: PAC 06 - PA - PLANALTO</label>
                        <input type="file" id="planocontas3" name="planocontas3" data-file-model="planocontas3">
                        <br>
                    </div>
                    <div class="form-group">
                        <label for="planocontas4">Selecione o arquivo do plano de contas: PAC 07 - PA - JÚLIO CÉSAR PEREIRA</label>
                        <input type="file" id="planocontas4" name="planocontas4" data-file-model="planocontas4">
                        <br>
                    </div>
                    <div class="form-group">
                        <label for="planocontas5">Selecione o arquivo do plano de contas: PAC 08 - PA - UMUARAMA</label>
                        <input type="file" id="planocontas5" name="planocontas5" data-file-model="planocontas5">
                        <br>
                    </div>
                </div>
                <hr style="border-top: 1px solid #ccc;">
                <div class="form-group">
                    <button data-ng-hide="loading == true" class="btn btn-primary">Importar</button>
                    <i class="fa fa-cog fa-spin fa-3x fa-fw ng-hide" data-ng-show="loading == true"></i>
                </div>
                <br>
                <div>
                    <a href="ftp://creditril@127.0.0.1:8000/apuracao_issqn" target="_blank" class="fa fa-download">
                        &nbsp;&nbsp;Baixar arquivos
                    </a>
                </div>
    </form>
</div>

{% endblock %}