{% extends 'loginbase.html' %}
{% block content %}

<form autocomplete="off" method="post" action="login">
    <fieldset>
        <div class="form-group">
            <input autofocus="autofocus" class="form-control" name="nomeusuario" oninvalid="BlankField(this)" placeholder="Usuário" required="" type="text" />
        </div>
        <div class="form-group">
            <input class="form-control" name="senha" oninvalid="BlankField(this)" placeholder="Senha" required="" type="password" />
        </div>
        <a href="/ikeepcred/" target="_blank">
        <button class="btn btn-primary" style="display: block; margin: 0 auto; color: #ffffff; font-size: 16px; width: 130px;" type="submit" onclick="entrar">Entrar</button>
        </a>
    </fieldset>
</form>

{% endblock %}
