<!DOCTYPE html>
<html lang="en">
<!-- define angular app -->
<html data-ng-app="ikeepcred" xmlns="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>

<meta charset="UTF-8" content="text/html" />
<meta content="Main_Page" name="description" />
<meta content="JotaDev" name="author" />

<title>iKeepcred</title>

<link href="/static/img/favicon.ico" rel="icon" type="image/x-icon" />

<!-- Bootstrap Core CSS -->
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet" />

<!-- Timeline CSS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/startbootstrap-sb-admin-2/3.3.7/css/timeline.min.css" rel="stylesheet" />

<!-- Custom CSS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/startbootstrap-sb-admin-2/3.3.7/css/sb-admin-2.min.css" rel="stylesheet" />

<!-- Custom Fonts -->
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" type="text/css" />

<link href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css" rel="stylesheet" />

<link href="https://cdnjs.cloudflare.com/ajax/libs/metisMenu/2.5.2/metisMenu.min.css" rel="stylesheet" type="text/css" />

<link href="https://cdn.rawgit.com/t4t5/sweetalert/master/dist/sweetalert.css" rel="stylesheet" type="text/css" />
</head>

<body data-ng-controller="mainController">

	<div id="wrapper">

		<!-- Navigation -->
		<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
			<div class="navbar-header">
				<button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse" type="button">
					<span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
				</button>

			<img height="29" src="img/ikeep_logo.jpg" style="margin-left: 10px; margin-top: 10px;  position: absolute;" width="29" />

				<a href="" style="color: #0000bb; font-size: 23px;  margin-left: 43px; margin-top: 10px; position: absolute;">iKeep<font color="#00bb00">Cred</font>
				</a>
				<div class="nav navbar-top-links navbar-right" style="position: absolute; margin-left: 160px; margin-top: 7px; ">Bem-vindo:
					ADMIN</div>
			</div>


			<ul class="nav navbar-top-links navbar-right">
				<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown"  id="mybutton" href aria-expanded="false" onclick="$('#myDropdown').slideToggle();">
						<i class="fa fa-user fa-fw"></i>
						<i class="fa fa-caret-down"></i>
				</a>

					<ul class="dropdown-menu">
						<!-- <li><a href="#"><i class="fa fa-user fa-fw"></i> User
								Profile</a></li> -->
						<li sec:authorize="hasRole('Administradores')"><a href="#usuarios_list"><i class="fa fa-shield fa-fw"></i> Admin</a></li>
						<li class="divider"></li>
						<li><form method="post" action="/logout">
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-sign-out fa-fw"></i><input style="background: none; border: 0 none;" type="submit" value="Sair" />
							</form></li>
					</ul></li>
			</ul>

			<div class="navbar-default sidebar" role="navigation">
				<div class="sidebar-nav navbar-collapse" aria-expanded="true">
					<ul class="nav" id="side-menu">
						<li class="sidebar-search">
							<div class="input-group custom-search-form">
								<input class="form-control" placeholder="Buscar..." type="text" />
								<span class="input-group-btn">
									<button class="btn btn-default" disabled="disabled" type="button">
										<i class="fa fa-search"></i>
									</button>
								</span>
							</div>

						</li>
						<li><a href=""><i class="fa fa-money"></i>&nbsp;
								Folha de Pagamento</a></li>
						<li><a href=""><i class="fa fa-credit-card"></i>&nbsp;
								Seguro Prestamista</a>
							<ul class="nav nav-second-level">
								<li><a href="">&nbsp; Prestamistas</a></li>
								<li><a href="">&nbsp;
										Recusados</a></li>
								<li><a href="">&nbsp; Gerar Planilha</a></li>
							</ul></li>
						<li><a href=""><i class="fa fa-table"></i>&nbsp;
								Relatório das Federais</a></li>
						<li><a href=""><i class="fa fa-columns"></i>&nbsp;
								Relatório das Fundações</a></li>
						<li><a href=""><i class="fa fa-gift" aria-expanded="true"></i>&nbsp;&nbsp;Benefícios</a>
							<ul class="nav nav-second-level">
								<li><a href="">&nbsp; Gerar Solicitação</a>
									<ul class="nav nav-third-level">
										<li><a href="">&nbsp;
												Bolsa de Estudos</a></li>
										<li><a href="">&nbsp;
												Auxílio Funeral</a></li>
										<li><a href="">&nbsp;
												Auxílio Natalidade</a></li>
									</ul></li>
								<li><a href=""> Validar
										Bolsa de Estudos</a></li>
								<li><a href=""> Gerar
										Relatório de Estudos</a></li>
							</ul></li>
						<li><a href=""><i class="fa fa-envelope-o" aria-expanded="true"></i>&nbsp;
								Endereços</a>
							<ul class="nav nav-second-level">
								<li><a href="">&nbsp; Lista de Endereços</a></li>
								<li><a href="">&nbsp; Gerar Relatório</a></li>
							</ul></li>

						<li sec:authorize="hasAnyRole('Administradores', 'Retaguarda')"><a href="#arquivos_des-if" aria-expanded="true"><i class="fa fa-newspaper-o"></i>&nbsp;
								Arquivos DES-IF - ISS</a>
							<ul class="nav nav-second-level">
								<li><a href="apuracao_mensal_issqn">&nbsp; Apuração
										Mensal do ISSQN</a></li>
								<li><a href="informacoes_comuns">&nbsp; Informações
									Comuns</a></li>
								<li><a href="planocontacosif_list">&nbsp; Cadastro Plano de
										Conta</a></li>
							</ul></li>
					</ul>
				</div>
			</div>
		</nav>

	<div id="page-wrapper" style="min-height: 541px;">
			<div class="row">
				<div class="col-lg-12">
					<br /> <img src="img/creditril_logo.jpg" /><br /> <br /> <br /> <br />
				</div>
				<!-- ngView: -->
				<div data-ng-view class="ng-scope">
					<meta charset="utf-8" class="ng-score">
					<meta name="description" content="informacoes_comuns page" class="ng-scope">
					<meta name="author" content="JotaDev" class="ng-scope">
				<div class="container ng-scope" data-ng-controller="informacoesComunsController">
				<form name="informacoes_comuns" class="form-horizontal ng-dirty ng-valid-parse ng-pristine ng-invalid ng-invalid-required" autocomplete="off" data-ng-submit="geraFile()">
					<h2>Informações Comuns</h2>
							<hr style="border-top: 1px solid #ccc;">
							<br>
							<div class="form-group">
								<label for="fileType">Selecione o tipo da declaração:</label>
								<select class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required" id="fileType" name="fileType"
										oninvalid="BlankField(this);" data-ng-model="fileType" data-ng-options="value.id as value.name for value in fileTypes"
										style="width:150px;" required>
								<option value class selected="selected">Selecionar</option>
								<option label="Normal" value="string:N">Normal</option>
								<option label="Retificada" value="string:R">Retificada</option>
								</select>
							</div>
							<div class="form-group ng-hide" data-ng-show="fileType == 'R'">
								<label for="protocol">Informe o protocolo da declaração:</label>
								<input type="text" class="form-control ng-pristine ng-untouched ng-valid ng-empty" id="protocol"
								name="protocol" oninvalid="BlankField(this);" data-ng-model="protocol" style="width: 160px;">
							</div>
							<hr style="border-top: 1px solid #ccc;">
							<br>
							<div class="form-group">
								<button data-ng-hide="loading == true" class="btn btn-primary">Gerar Arquivo</button>
								<br>
								<i class="fa fa-cog fa-spin fa-3x fa-fw ng-hide" data-ng-show="loading == true"></i>
							</div>
							<br>
							<div>
								<a href="ftp://creditril@127.0.0.1:8000/informacoes_comuns" target="_blank" class="fa fa-download">
									&nbsp;&nbsp;Baixar arquivos
								</a>
							</div>
							<br>
							<br>
							<br>
							<br>
							<br>
					</form>
				</div>
				</div>
				<div style="float:right;">Direitos de Cópia © 2017 iKeep Soluções em Desenvolvimento.</div>
			</div>
		</div>
	</div>

	<script src="https://cdn.rawgit.com/t4t5/sweetalert/master/dist/sweetalert.min.js"></script>

    <!-- jQuery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

	<!-- Bootstrap Core JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular-route.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular-resource.min.js"></script>

	<script src="//code.angularjs.org/snapshot/angular-animate.js"></script>

	<!-- Metis Menu Plugin JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/metisMenu/2.5.2/metisMenu.min.js"></script>


	<!-- Custom Theme JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/startbootstrap-sb-admin-2/3.3.7/js/sb-admin-2.min.js"></script>

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<script src="angular/app.js"></script>
	<script src="angular/service.js"></script>
	<script src="angular/controller.js"></script>

</body></html>