{% extends 'base.html' %}
{% load static %}
{% block content %}
<link href="{% static 'css/arquivo.css' %}" rel="stylesheet">

<div class="container ng-scope" data-ng-controller="informacoesComunsController">
<form name="informacoes_comuns" class="form-horizontal ng-dirty ng-valid-parse ng-pristine ng-invalid ng-invalid-required" autocomplete="off" data-ng-submit="geraFile()">
	<h2>Informações Comuns</h2>
			<hr style="border-top: 1px solid #ccc;">
			<br>
			<div class="form-group">
				<label for="fileType">Selecione o tipo da declaração:</label>
				<select class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required" id="fileType" name="fileType"
						oninvalid="BlankField(this);" data-ng-model="fileType" style="width:150px;" required>
				<option label="Selecionar" selected="selected">Selecionar</option>
				<option label="Normal" id="normal" value="normal">Normal</option>
				<option label="Retificada" id="retificada" value="retificada" data-section="retificada">Retificada</option>
				</select><br>
			</div>
			<div style="display: none;" data-name="retificada" class="hide">
				<label>Informe o protocolo da declaração:</label>
				<input type="text" class="form-control ng-pristine ng-untouched ng-valid ng-empty" name="protocoloDeclaracao" oninvalid="BlankField(this);" data-ng-model="protocol" style="width: 160px;">
			</div>
			<hr style="border-top: 1px solid #ccc;">
			<br>
			<div class="form-group">
				<button data-ng-hide="loading == true" class="btn btn-primary">Gerar Arquivo</button>
				<br>
				<i class="fa fa-cog fa-spin fa-3x fa-fw ng-hide" data-ng-show="loading == true"></i>
			</div>
			<br>
			<div>
				<a href="ftp://creditril@127.0.0.1:8000/informacoes_comuns" target="_blank" class="fa fa-download">
					&nbsp;&nbsp;Baixar arquivos
				</a>
			</div>
			<br>
			<br>
			<br>
			<br>
			<br>
	</form>
</div>

<script src="{% static 'angular/selectedType.js' %}"></script>
{% endblock %}
