{% extends 'base.html' %}

{% block content %}
<div data-ng-controller="planoContaCosifController" class="ng-scope">
	<div class="row">
		<div class="panel panel-default">
			<div class="panel-body">
				<h2>Plano de Contas</h2>
				<hr style="border-top: 1px solid #ccc;">
				<br>
				<div class="table-responsive">
					<div class="form-group">
						<input type="search" data-ng-model="search" placeholder="Buscar por descrição" class="ng-pristine ng-untouched ng-valid ng-empty">
					</div>
					<table data-ng-hide="contassList.length == 0" class="table table-bordered table-striped">
						<thead>
						<tr>
							<th>Descrição</th>
							<th>Conta</th>
							<th>Cód. Cosif</th>
							<th>Alíquota</th>
							<th>Conta Superior</th>
							<th>Conta Cosif</th>
							<th style="width: 20px;">&nbsp;</th>
						</tr>
						</thead>
						<tbody>
						</tbody>
					</table>
					<em data-ng-show="contasList.length > 0" class="ng-biding">&nbsp;&nbsp;&nbsp;&nbsp; </em>
					<br>
					<div class="pagination pagination-centered" data-ng-show="contasList.length">
						<ul class="pagination-controle pagination">
							<li>
							<button type="button" class="btn btn-info" data-ng-disabled="curPage == 0"
									data-ng-click="curPage=curPage-1" disabled="disabled">< Anterior</button>
							</li>
							<li>
								<span class="ng-biding">Página 1 de 11</span>
							</li>
							<li>
							<button type="button" class="btn btn-info" data-ng-disabled="curPage >= contasList.length/pageSize-1"
									data-ng-click="curPage = curPage+1">Próxima ></button>
							</li>
						</ul>
					</div>
				</div>
				<em data-ng-show="contasList.length == 0" class="ng-hide">&nbsp;&nbsp;&nbsp;&nbsp;Não foi possível recuperar os Usuários</em>
				<a href="#planocontacosif_add">
					<button type="button" class="btn btn-primary">Cadastrar Conta</button>
				</a>
			</div>
		</div>
	</div>
</div>
</div>
{% endblock %}

